Scott started life wanting to be a professional footballer. His father had a

brief spell as a professional in Ireland so it wasn't an unrealistic goal. He

grew very quickly and his knees got very sore and he was advised to stop

all sport for 3 years until his "stretch" slowed down.<br>


<br>
It was around this time he saw the movie "La Bamba" (the story of Richie

Valens). In it there is a piece of music at the start called "Sleepwalker" by

Johnny and Santos and when he heard that piece of music he announced

"I'm going to be a musician forever" <br>

 
<br>
Scott started musical life with a recorder thrown into the back seat of the

car and his mother shouting "you're gonna learn that" the recorder stayed

in a drawer but a neighbour offered her piano for Scott to learn on an he

spent hours getting lost on it. His sister brought home a guitar and he

swiped it forever and he learnt the Beatles catalogue on it before joining a

Beatles tribute band who went on to play for the Queen and Sir George

Martin among many others. Scott has written and starred in stage show

about the Beatles called "Get Back" (The story of the Beatles) <br>

 
<br>
Before going solo Scott was the frontman with Dublin band "Beach" who

were labelled "Europe's hottest unsigned band" at one point. <br>


<br>
During the release of his second album "21 bends" Scott began making

short trips to America (NYC, LA, Nashville) to play some shows, co write

and generally become emmersed in all it had to offer.

He co wrote in Nashville with many writers including Ruby Amanfu (Jack

White's band) and returned with a lot of ideas for songs. <br>


<br>
On his return his younger brother Steve was starting a band called The

Shoos and asked Scott to play drums. It started off as a fun way to write

and play and be in a Band again

and the band quickly developed a sound that led them to a deal with

Universal Records. <br>


<br>
He plans to make a new album this year called "Little Victories" and has

recorded over 20 new tracks for it.<br>


<br>
He can still be found racing down the right wing on a Saturday afternoon.